<%- include('./Layouts/header.ejs') -%>

<section>
    <% juices.forEach(function(juice) { %> 
        <div class="recipe">
            <h2><%= juice.name %></h2>
            <img src="<%= juice.image %>" alt="<%= juice.name %>">
            <p><%= juice.description %></p>

            <h3>Ingredients:</h3>
            <ul>
                <% juice.ingredients.forEach(function(ingredient) { %>
                    <li><%= ingredient %></li>
                <% }); %>
            </ul>

            <h3>Instructions:</h3>
            <ol>
                <% juice.recipe.forEach(function(instruction) { %>
                    <li><%= instruction %></li>
                <% }); %>
            </ol>
        </div>
    <% }); %>
</section>

<div class="pagination">
    <% if (current > 1) { %>
        <a href="/juices?page=<%= current - 1 %>" class="prev">Previous</a>
    <% } %>

    <% for (let i = 1; i <= pages; i++) { %>
        <a href="/juices?page=<%= i %>" class="<%= (i == current) ? 'active' : '' %>">
            <%= i %>
        </a>
    <% } %>

    <% if (current < pages) { %>
        <a href="/juices?page=<%= current + 1 %>" class="next">Next</a>
    <% } %>
</div>

<%- include('./Layouts/footer.ejs') -%>