<%- include('./Layouts/header.ejs') -%>

    <div class="log">
        <h1>Search Results</h1>

        <% if (salads.length===0 && juices.length===0) { %>
            <p>No results found for your search.</p>
            <% } else { %>
                <h2>Salads</h2>
                <% salads.forEach(salad=> { %>
                    <div class="query">
                        <div>
                            <img src="<%= salad.image %>" alt="<%= salad.name %>" style="width: 300px; height: 300px;">
                        </div>
                        <div>
                            <h3>
                                <%= salad.name %>
                            </h3>
                            <ul>
                                <% salad.ingredients.forEach(function(ingredient) { %>
                                    <li>
                                        <%= ingredient %>
                                    </li>
                                    <% }); %>
                            </ul>
                        </div>
                    </div>
                    <% }); %>

                        <h2>Juices</h2>
                        <% juices.forEach(juice=> { %>
                            <div class="query">
                                <div>
                                    <img src="<%= juice.image %>" alt="<%= juice.name %>"
                                        style="width: 300px; height: 300px;">

                                </div>
                                <div>
                                    <h3>
                                        <%= juice.name %>
                                    </h3>
                                    <ul>
                                        <% juice.ingredients.forEach(function(ingredient) { %>
                                            <li>
                                                <%= ingredient %>
                                            </li>
                                            <% }); %>
                                    </ul>
                                </div>
                            </div>
    </div>
    <% }); %>
        <% } %>

            <%- include('./Layouts/footer.ejs') -%>